# <span style="color:red">WEB SCRAPING – ASSIGNMENT 4

# • Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.
• You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-element- exception/38023345

In [3]:
# necessary packages
!pip install bs4
!pip install requests
!pip install html5lib
!pip install selenium

Requirement already satisfied: bs4 in c:\users\nirma\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nirma\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\nirma\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\nirma\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nirma\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: html5lib in c:\users\nirma\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\nirma\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\nirma\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: selenium in c:\users\nirma\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\nirma\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nirma\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nirma\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\nirma\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\users\nirma\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\nirma\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\nirma\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nirma\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nirma\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [192]:
# Importing Libraries

from bs4 import BeautifulSoup
import requests

import selenium 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings 
warnings.filterwarnings('ignore')

# <span style="color:red">1. Scrape the details of most viewed videos on YouTube from Wikipedia.Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:                   
A) Rank                            
B) Name               
C) Artist           
D) Upload date                 
E) Views

In [25]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()
time.sleep(5)

In [8]:
#scraping the rank
rank =[]
try:
    Ranks=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in Ranks:
        rank.append(i.text)
except NoSuchElementException: #handling no such element exception
    rank.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    rank.append('No details available')
time.sleep(2)

#scraping the names
name =[]
try:
    names=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in names:
        name.append(i.text)
except NoSuchElementException: #handling no such element exception
    name.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    name.append('No details available')
time.sleep(2) 

#scraping the artist
artist =[]
try:
    art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in art:
        artist.append(i.text)
except NoSuchElementException: #handling no such element exception
    artist.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    artist.append('No details available')
time.sleep(2) 

#scraping the Upload date
Upload_date =[]
try:
    date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in date:
        Upload_date.append(i.text)
except NoSuchElementException: #handling no such element exception
    Upload_date.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    Upload_date.append('No details available')
time.sleep(2)  

#scraping the views
views =[]
try:
    view=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in view:
        views.append(i.text)
except NoSuchElementException: #handling no such element exception
    views.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    views.append('No details available')
time.sleep(2)

In [10]:
# print the length of different attributes
print(len(rank),len(name),len(artist),len(Upload_date),len(views))

30 30 30 30 30

In [11]:
#creating dataframe for different attributes
import pandas as pd
df = pd.DataFrame({'RANK':rank,'NAME':name,'ARTIST':artist,'UPLOAD DATE':Upload_date,"VIEWS":views})
df

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

In [26]:
driver.close()

# <span style="color:red">2. Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/.    
You need to find following details:                       
A) Series                 
B) Place                 
C) Date                  
D) Time                                                  
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [35]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://www.bcci.tv/")
driver.maximize_window()
time.sleep(5)

In [36]:
#close the pop-up
close_popup= driver.find_element(By.XPATH,'//button[@class="close-button page-close"]')    
close_popup.click()

In [37]:
#click on internation fixture
international = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
international.click()

In [40]:
#scraping series name
series=[]
ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
try:
    for i in ser:
        series.append(i.text)

except NoSuchElementException: #handling no such element exception
    series.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
     series.append('No details available')
time.sleep(2) 


#scraping place name 
place=[]
pla=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
try:
    for i in pla:
        place.append(i.text)

except NoSuchElementException: #handling no such element exception
    place.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
     place.append('No details available')
time.sleep(2) 

#scraping date
Date=[]
din=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
try:
    for i in din:
        Date.append(i.text)

except NoSuchElementException: #handling no such element exception
    Date.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
     Date.append('No details available')
time.sleep(2) 

#scraping match time

clock=[]
samay=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
try:
    for i in samay:
        clock.append(i.text)

except NoSuchElementException: #handling no such element exception
    clock.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
     clock.append('No details available')
time.sleep(2)

In [41]:
#creating dataframe for different attributes
import pandas as pd
international_fixtures= pd.DataFrame({'SERIES NAME':series,'PLACE':place ,'DATE':Date,"TIME":clock})
international_fixtures

,SERIES NAME,PLACE,DATE,TIME
0,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","13 NOVEMBER, 2023",9:00 AM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","13 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","15 NOVEMBER, 2023",9:00 AM IST
3,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","15 NOVEMBER, 2023",9:00 AM IST
4,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","17 NOVEMBER, 2023",9:00 AM IST
5,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","17 NOVEMBER, 2023",9:00 AM IST
6,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","20 NOVEMBER, 2023",9:00 AM IST
7,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","20 NOVEMBER, 2023",9:00 AM IST
8,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","22 NOVEMBER, 2023",9:00 AM IST
9,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","22 NOVEMBER, 2023",9:00 AM IST
10,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","24 NOVEMBER, 2023",9:00 AM IST
11,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","24 NOVEMBER, 2023",9:00 AM IST
12,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","27 NOVEMBER, 2023",9:00 AM IST
13,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","27 NOVEMBER, 2023",9:00 AM IST
14,AUSTRALIA TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"23 NOVEMBER, 2023",7:00 PM IST
15,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvananth...","26 NOVEMBER, 2023",7:00 PM IST
16,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati","28 NOVEMBER, 2023",7:00 PM IST
17,AUSTRALIA TOUR OF INDIA 2023-24,"Vidarbha Cricket Association Stadium, Nagpur","1 DECEMBER, 2023",7:00 PM IST
18,AUSTRALIA TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","3 DECEMBER, 2023",7:00 PM IST
19,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban","10 DECEMBER, 2023",9:30 PM IST
20,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha","12 DECEMBER, 2023",9:30 PM IST
21,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg","14 DECEMBER, 2023",9:30 PM IST
22,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
23,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha","19 DECEMBER, 2023",2:00 PM IST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl","21 DECEMBER, 2023",2:00 PM IST
25,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
26,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
27,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
28,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
29,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST
30,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","25 JANUARY, 2024",9:30 AM IST
31,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
32,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
33,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
34,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST

# <span style="color:red">3. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/        
You have to find following details:                                         
A) Rank                  
B) State                      
C) GSDP(18-19)- at current prices                     
D) GSDP(19-20)- at current prices               
E) Share(18-19)                    
F) GDP($ billion)                                             
Note: - From statisticstimes home page you have to reach to economy page through code.

In [46]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("http://statisticstimes.com/")
driver.maximize_window()
time.sleep(5)

In [47]:
#click on "economy" button 
economy = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
economy.click()
time.sleep(5)

#click on "india" button 
india = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
india.click()
time.sleep(5)
#click on "GDP of indian states" button
gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()
time.sleep(5)

In [49]:
#scraping the rank
rank =[]
try:
    Ranks=driver.find_elements(By.XPATH,"//td[@class='data1']")
    for i in Ranks[:33]:
        rank.append(i.text)
except NoSuchElementException: #handling no such element exception
    rank.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    rank.append('No details available')
time.sleep(2) 

#scraping state names
state=[]
try:
    unit = driver.find_elements(By.XPATH,"//td[@class='name'] ")
    for i in unit[:33]:
        state.append(i.text)
except NoSuchElementException: 
    state.append("-")
except StaleElementReferenceException:
    state.apppend("-")
time.sleep(2)

#scraping  GSDP(18-19)- at current prices

GSDP_18_19 =[]
try:
    gsdp = driver.find_elements(By.XPATH,"//td[@class='data sorting_1'] ")
    for i in gsdp[:33]:
        GSDP_18_19.append(i.text)
except NoSuchElementException: 
    GSDP_18_19.append("-")
except StaleElementReferenceException:
    GSDP_18_19.apppend("-")
time.sleep(2)

#scraping  GSDP(19-20)- at current prices

GSDP_19_20 =[]
try:
    DP_19_20 = driver.find_elements(By.XPATH,"//td[@class='data'][1]  ")
    for i in DP_19_20[:33]:
        GSDP_19_20.append(i.text)
except NoSuchElementException: 
    GSDP_19_20.append("-")
except StaleElementReferenceException:
    GSDP_19_20.apppend("-")
time.sleep(2)

#scraping share(18-19)
share_18_19=[]
try:
    share = driver.find_elements(By.XPATH," //td[@class='data'][2]")
    for i in share[:33]:
        share_18_19.append(i.text)
except NoSuchElementException: 
    share_18_19.append("-")
except StaleElementReferenceException:
    share_18_19.apppend("-")
time.sleep(2)

#scraping GDP($ billion)
GDP=[]
try:
    billion = driver.find_elements(By.XPATH," //td[@class='data'][3]")
    for i in billion[:33]:
        GDP.append(i.text)
except NoSuchElementException: 
    GDP.append("-")
except StaleElementReferenceException:
    GDP.apppend("-")
time.sleep(2)

In [50]:
#creating dataframe for different attributes
import pandas as pd
df = pd.DataFrame({'RANK':rank,'STATE':state,'GSDP(18-19)- at current prices':GSDP_18_19 ,'GSDP(19-20)- at current prices':GSDP_19_20,
                   "Share(18-19)":share_18_19,"GDP($ billion)":GDP })
df

,RANK,STATE,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# <span style="color:red">4. Scrape the details of trending repositories on Github.com. Url = https://github.com/         
You have to find the following details:                 
A) Repository title                    
B) Repository description                  
C) Contributors count                      
D) Language used                                     
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [172]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://github.com/")
driver.maximize_window()
time.sleep(5)

In [173]:
#click on explore button
Explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
Explore.click()

In [174]:
#Select trending option
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [175]:
#creating empty list
repo_urls = []  
rep_title = []
Description =[]
Contributors=[]
Language=[]

In [176]:
#Scraping urls for each repository
repository = driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in repository[0:24]:
    repo_urls.append(i.get_attribute("href"))

    
#Scraping data from every repository page
for i in repo_urls:
    driver.get(i)
    time.sleep(3)
    
    #Scraping title-                           
    try:
        title = driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        rep_title.append(title.text)
    except NoSuchElementException:
        rep_title.append('-')  
    
    #Scraping description-
    try:
        desc = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    #Scraping contributors count-
    try:
        cont_tags = driver.find_element(By.XPATH,"//*[contains(text(),'Contributors')]")
        Contributors.append(cont_tags.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    #Scraping Languages-
    try:
        cont_tags = driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language.append(cont_tags.text)
    except NoSuchElementException:
        Language.append('-')

In [177]:
import pandas as pd
df = pd.DataFrame({'Repository title':rep_title,'Repository description':Description,
                   'Contributors count':Contributors,'Language used':Language})
df

,Repository title,Repository description,Contributors count,Language used
0,system-design-101,Explain complex systems using visuals and simp...,\n5,-
1,XAgent,An Autonomous LLM Agent for Complex Task Solving,\n10,TypeScript
2,ionic-framework,A powerful cross-platform UI toolkit for build...,\n468,TypeScript
3,MemGPT,Teaching LLMs memory management for unbounded ...,\n10,Python
4,thorium,Chromium fork named after radioactive element ...,\n9,C++
5,Free-Certifications,A curated list of free courses & certifications.,\n53,-
6,unleashed-firmware,Flipper Zero Unleashed Firmware,\n292,C
7,RemoveAdblockThing,"Removes The ""Ad blocker are not allowed on You...",,JavaScript
8,refine,"Build your React-based CRUD applications, with...",,TypeScript
9,PokemonRedExperiments,Playing Pokemon Red with Reinforcement Learning,\n4,Jupyter Notebook
10,Thorium-Win,Chromium fork for Windows named after radioact...,-,Batchfile
11,programming-language-research,"Programming Language Research, Applied PLT & C...",\n4,Clojure
12,imersao15,-,\n3,Go
13,langchain,⚡ Building applications with LLMs through comp...,"\n1,712",Python
14,azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,\n49,Python
15,fullstackweek-store,-,-,TypeScript
16,azure-sdk-for-java,This repository is for active development of t...,,Java
17,trufflehog,Find and verify credentials,,Go
18,kong,🦍 The Cloud-Native API Gateway,\n352,Lua
19,next-auth,Authentication for the Web.,\n595,TypeScript
20,create-t3-app,"The best way to start a full-stack, typesafe N...",,TypeScript
21,GaussianSplats3D,Three.js-based implementation of the 3D Gaussi...,-,JavaScript
22,GOAD,game of active directory,\n15,PowerShell
23,workers-sdk,"⛅️ Home to Wrangler, the CLI for Cloudflare Wo...",\n126,TypeScript

# <span style="color:red">5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/        
You have to find the following details:                            
A) Song name                          
B) Artist name                  
C) Last week rank                    
D) Peak rank              
E) Weeks on board               
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [84]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://www.billboard.com/")
driver.maximize_window()
time.sleep(5)

In [86]:
# Click on chart
charts = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts.click()

In [89]:
#click on billboard_100songs
billboard_100songs = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
billboard_100songs.click()

In [91]:
#scraping the 100 songs with details

#scraping the song name 
song_name=[]
try:
    name = driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']//ul/li//h3")
    for i in name:
        song_name.append(i.text)
except NoSuchElementException:  #handling no such element exception
    song_name.append("-")
except StaleElementReferenceException: #handling Stale element exception
    song_name.append("-")
time.sleep(2) 


#scraping the artist
artist =[]
try:
    art=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']//ul//li[1]//span")
    for i in art:
        artist.append(i.text)
except NoSuchElementException: #handling no such element exception
    artist.append("-")
except StaleElementReferenceException: #handling Stale element exception
    artist.append("-")
time.sleep(2) 

#scraping the Last week rank
last_week_rank =[]
try:
    rank=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][1]//span[1]")
    for i in rank:
        last_week_rank.append(i.text)
except NoSuchElementException: #handling no such element exception
    last_week_rank.append("-")
except StaleElementReferenceException: #handling Stale element exception
    last_week_rank.append("-")
time.sleep(2) 

#scraping the peak rank
peak_rank =[]
try:
    p_rank=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max'][2]")
    for i in p_rank:
        peak_rank.append(i.text)
except NoSuchElementException: #handling no such element exception
    peak_rank.append("-")
except StaleElementReferenceException: #handling Stale element exception
    peak_rank.append("-")
time.sleep(2)

#scraping the Weeks on board
Weeks_board=[]
try:
    board=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][2]//span[1]")
    for i in rank:
        Weeks_board.append(i.text)
except NoSuchElementException: #handling no such element exception
    Weeks_board.append("-")
except StaleElementReferenceException: #handling Stale element exception
    Weeks_board.append("-")
time.sleep(2)

In [92]:
#print the length of each column  
print(len(song_name),len(artist),len(last_week_rank),len(Weeks_board),len(peak_rank))

100 100 100 100 100

In [93]:
import pandas as pd
billboard = pd.DataFrame({'SONG NAME':song_name,'ARTIST':artist,'LAST WEEK RANK':last_week_rank ,'PEAK RANK':peak_rank,"WEEK BOARD":Weeks_board})
billboard

,SONG NAME,ARTIST,LAST WEEK RANK,PEAK RANK,WEEK BOARD
0,First Person Shooter,Drake Featuring J. Cole,-,1,-
1,IDGAF,Drake Featuring Yeat,-,2,-
2,Virginia Beach,Drake,-,3,-
3,Paint The Town Red,Doja Cat,1,1,1
4,Calling For You,Drake Featuring 21 Savage,-,5,-
...,...,...,...,...,...
95,God Gave Me A Girl,Russell Dickerson,90,90,90
96,Y Lloro,Junior H,-,97,-
97,Telekinesis,Travis Scott Featuring SZA & Future,72,26,72
98,Seven,Jung Kook Featuring Latto,57,1,57
99,Stars Like Confetti,Dustin Lynch,89,89,89

# <span style="color:red">6. Scrape the details of Highest selling novels.             
A) Book name                     
B) Author name                     
C) Volumes sold               
D) Publisher                 
E) Genre                      
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [94]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()
time.sleep(5)

In [95]:
#scraping the Book names
name =[]
try:
    names=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException: #handling no such element exception
    name.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    name.append('No details available')
    time.sleep(2) 

#scraping the Author names
author_name =[]
try:
    author=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in author:
        author_name.append(i.text)
except NoSuchElementException: #handling no such element exception
    author_name.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    author_name.append('No details available')
    time.sleep(2) 

#scraping the Volumes sold
volume_sold= []
try:
    sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in  sold:
        volume_sold.append(i.text)
except NoSuchElementException: #handling no such element exception
    volume_sold.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    volume_sold.append('No details available')
    time.sleep(2) 

#scraping the publisher
publisher= []
try:
    pub=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in  pub:
        publisher.append(i.text)
except NoSuchElementException: #handling no such element exception
    publisher.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    publisher.append('No details available')
    time.sleep(2) 

#scraping the genre
Genre = []
try:
    genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in  genre:
        Genre.append(i.text)
except NoSuchElementException: #handling no such element exception
    Genre.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    Genre.append('No details available')
    time.sleep(2)

In [96]:
import pandas as pd
book = pd.DataFrame({'BOOK NAME':name,'AUTHOR NAME':author_name,'VOLUME SOLD':volume_sold ,'PUBLISHER':publisher,"GENRE":Genre})
book

,BOOK NAME,AUTHOR NAME,VOLUME SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# <span style="color:red">7. Scrape the details most watched tv series of all time from imdb.com.              
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:                      
A) Name                 
B) Year span                
C) Genre               
D) Run time                
E) Ratings             
F) Votes

In [97]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()
time.sleep(5)

In [98]:
#scraping the names
name =[]
try:
    names=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in names[:100]:
        name.append(i.text)
except NoSuchElementException: #handling no such element exception
    name.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    name.append('No details available')
    time.sleep(2) 

#scraping the year
Year_span = []
try:
    Year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in  Year[:100]:
        Year_span.append(i.text)
except NoSuchElementException: #handling no such element exception
    Year_span.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    Year_span.append('No details available')
    time.sleep(2) 

#scraping the genre
Genre = []
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in  genre[:100]:
        Genre.append(i.text)
except NoSuchElementException: #handling no such element exception
    Genre.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    Genre.append('No details available')
    time.sleep(2) 

#scraping the run time
run_time = []
try:
    time=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in time[:100]:
        run_time.append(i.text)
except NoSuchElementException: #handling no such element exception
    run_time.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    run_time.append('No details available')
    time.sleep(2) 
    
#scraping the rating
rating = []
try:
    rate=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in rate[:100]:
        rating.append(i.text)
except NoSuchElementException: #handling no such element exception
    rating.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    rating.append('No details available')
    time.sleep(2) 
    
#scraping the votes
votes= []
try:
    Vote=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small'][3]/span[2]")
    for i in Vote[:100]:
        votes.append(i.text)
except NoSuchElementException: #handling no such element exception
    votes.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    votes.append('No details available')
    time.sleep(2)

In [99]:
import pandas as pd
cinema = pd.DataFrame({'NAME':name,'YEAR':Year_span,'GENRE':Genre ,'RUN TIME':run_time,"RATING":rating,"VOTES":votes})
cinema

,NAME,YEAR,GENRE,RUN TIME,RATING,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,57 min,"2,213,339"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,51 min,"1,283,152"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,44 min,"1,050,220"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,60 min,"308,611"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,43 min,"267,545"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,42 min,"52,952"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,50 min,"65,025"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,42 min,"211,898"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,45 min,"44,104"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,572 min,"269,950"

# <span style="color:red">8. Details of Datasets from UCI machine learning repositories.          
Url = https://archive.ics.uci.edu/ You have to find the following details:                    
A) Dataset name                 
B) Data type             
C) Task                 
D) Attribute type                
E) No of instances                
F) No of attribute G) Year                               
Note: - from the home page you have to go to the Show All Dataset page through code.

In [191]:
# Initialize Chrome WebDriver
driver = webdriver.Chrome(r"C:\Users\nirma\Downloads\chromedriver-win64\chromedriver-win64\chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")
driver.maximize_window()
time.sleep(5)

In [193]:
#click on viewdataset link
view_dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_dataset.click()

In [194]:
#click on expand all
expand=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()

In [195]:
#scraping the dataset names
dataset_name =[]
try:
    names=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in names:
        dataset_name.append(i.text)
except NoSuchElementException: #handling no such element exception
    dataset_name.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    dataset_name.append('No details available')
    time.sleep(2)        
    
#scraping the Data type
data_type =[]
try:
    data=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for i in data:
        data_type.append(i.text)
except NoSuchElementException: #handling no such element exception
    data_type.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    data_type.append('No details available')
    time.sleep(2)

#scraping the task
task=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span'):
        task.append(i.text)
except NoSuchElementException: #handling no such element exception
    task.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    taskappend('No details available')
    time.sleep(2)
        
#scraping the Attribute type
Attribute=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]'):
        Attribute.append(i.text)
except NoSuchElementException: #handling no such element exception
    Attribute.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    Attribute.append('No details available')
    time.sleep(2)   
        
#scraping the No of instances
instances=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span'):
        instances.append(i.text)
except NoSuchElementException: #handling no such element exception
    instances.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    instances.append('No details available')
    time.sleep(2)
        
#scraping the  No of attribute
attribute=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span'):
        attribute.append(i.text)
except NoSuchElementException: #handling no such element exception
    attribute.append('No details available')
except StaleElementReferenceException: #handling Stale element exception
    attribute.append('No details available')
    time.sleep(2)

In [196]:
import pandas as pd
df = pd.DataFrame({'Dataset name':dataset_name,'Data type':data_type ,'Task':task ,'Attribute type':Attribute,
                   "No of instances":instances,"No of attribute":attribute})
df.drop([0], inplace = True)
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features
3,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features
5,Diabetes,,,"Categorical, Integer",,20 Features
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Features
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features